apiVersion: apps/v1
kind: Deployment
metadata:
  name: gloco-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: mariadb
        image: mariadb:10.4
        ports:
        - containerPort: 3306
        envFrom:
        - secretRef:
            name: gloco-secrets
        volumeMounts:
        - name: db-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: db-storage
        persistentVolumeClaim:
          claimName: db-pvc