<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="building-blocks"></div>
          <footer class="footer">
            <div class="overlap-group">
              <div class="text-wrapper">ELABORADO POR</div>
              <img class="img" src="https://c.animaapp.com/V0mc5aT7/img/l-sello.svg" />
            </div>
            <div class="div">
              <div class="text-wrapper-2">SELLO</div>
              <img class="img" src="https://c.animaapp.com/V0mc5aT7/img/l-sello.svg" />
            </div>
            <div class="text-wrapper-3">VENCIMIENTO FACTURA</div>
            <p class="p">
              IM RUC: 0012301680043B AIMP/2/0024/05-2024 10B, 50J (2) N° 5,201 - 5,700 ACF/2/5047/10-2024
              OT:4204/10-2024
            </p>
          </footer>
          <div class="logo">
            <img class="nuevo-logo-con" src="https://c.animaapp.com/V0mc5aT7/img/nuevo-logo-con-erlenmeyer-1@2x.png" />
          </div>
          <div class="encabezado">
            <div class="text-wrapper-4">GLOBAL COMERCIAL, S.A.</div>
            <p class="text-wrapper-5">Calle Principal Altamira, antiguo H. Central 3c. Norte,</p>
            <p class="text-wrapper-6">Contiguo Ferretería ROMO, Oficentro Altamira</p>
            <p class="text-wrapper-7">+505 8464-2337 / +505 7651-5914 / 505 7739-1925</p>
            <img class="pasador-de-ubicacion" src="https://c.animaapp.com/V0mc5aT7/img/pasador-de-ubicacion-1@2x.png" />
            <img class="llamar" src="https://c.animaapp.com/V0mc5aT7/img/llamar-1@2x.png" />
            <div class="text-wrapper-8">ventasgloco@gmail.com</div>
            <img class="mensaje" src="https://c.animaapp.com/V0mc5aT7/img/mensaje-1@2x.png" />
            <div class="text-wrapper-9">RUC: J0310000286167</div>
          </div>
          <div class="factura-c-c">
            <div class="text-wrapper-10">FACTURA</div>
            <div class="checkbox-credito"></div>
            <div class="checkbox-contado"></div>
            <div class="text-wrapper-11">CONTADO</div>
            <div class="text-wrapper-12">CRÉDITO</div>
          </div>
          <div class="depa-cod-fecha">
            <div class="departamento">DEPARTAMENTO:</div>
            <div class="text-wrapper-13">COD.CLIENTE:</div>
            <div class="text-wrapper-14">FECHA:</div>
          </div>
          <div class="info-cliente">
            <div class="overlap-2">
              <div class="text-wrapper-15">CLIENTE:</div>
              <div class="text-wrapper-16">DIRECCIÓN:</div>
              <div class="text-wrapper-17">CONTACTO:</div>
              <div class="text-wrapper-18">RUC:</div>
              <div class="text-wrapper-19">TELÉFONO:</div>
            </div>
          </div>
          <div class="factura">
            <div class="overlap-3">
              <div class="rectangle"></div>
              <div class="rec-cuentas"></div>
              <img
                class="nuevo-logo-con-2"
                src="https://c.animaapp.com/V0mc5aT7/img/nuevo-logo-con-erlenmeyer-2@2x.png"
              />
              <img class="vector" src="https://c.animaapp.com/V0mc5aT7/img/vector-1.svg" />
              <div class="rectangle-2"></div>
              <p class="text-wrapper-20">NO SE ACEPTAN RECLAMOS/DEVOLUCIONES 24 HORAS DESPUÉS DE RECIBIR EL PRODUCTO</p>
              <div class="text-wrapper-21">IVA</div>
              <div class="text-wrapper-22">TOTAL</div>
              <div class="SUB-TOTAL">SUB<br />TOTAL</div>
              <img class="l-cuentas" src="https://c.animaapp.com/V0mc5aT7/img/l-montoletras.svg" />
              <div class="CUENTAS-BAC-u">
                CUENTAS
                BAC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;U$&nbsp;&nbsp;360870422&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C$&nbsp;&nbsp;360870372
              </div>
              <img class="l-cuentas-2" src="https://c.animaapp.com/V0mc5aT7/img/l-montoletras.svg" />
              <p class="cheque-a-nombre-de">
                <span class="span">Cheque a nombre de: </span>
                <span class="text-wrapper-23">GLOBAL COMERCIAL, S.A.</span>
              </p>
              <img class="l-cheque-a-nom" src="https://c.animaapp.com/V0mc5aT7/img/l-montoletras.svg" />
              <div class="text-wrapper-24">MONTO EN LETRAS:</div>
              <img class="l-montoletras" src="https://c.animaapp.com/V0mc5aT7/img/l-montoletras.svg" />
              <img class="l-iva" src="https://c.animaapp.com/V0mc5aT7/img/l-iva.svg" />
              <img class="l-punit" src="https://c.animaapp.com/V0mc5aT7/img/l-punit.svg" />
              <img class="l-descrp" src="https://c.animaapp.com/V0mc5aT7/img/l-cod.svg" />
              <img class="l-um" src="https://c.animaapp.com/V0mc5aT7/img/l-cod.svg" />
              <img class="l-cod" src="https://c.animaapp.com/V0mc5aT7/img/l-cod.svg" />
              <img class="l-cant" src="https://c.animaapp.com/V0mc5aT7/img/l-cant.svg" />
              <div class="th-CANT">CANT.</div>
              <div class="th-c-DIGO">CÓDIGO</div>
              <div class="th-u-m">U/M</div>
              <div class="th-DESCRIPCI-n">DESCRIPCIÓN</div>
              <div class="th-p-UNIT">P.UNIT</div>
              <div class="th-IVA">IVA</div>
              <div class="th-SUB-TOTAL">SUB TOTAL</div>
              <p class="text-wrapper-25">Original: Cliente / Celeste: Cliente / Rosado: Contabilidad</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
