.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.container .overlap-wrapper {
  background-color: #ffffff;
  width: 612px;
  height: 792px;
}

.container .overlap {
  position: relative;
  height: 793px;
  top: -1px;
}

.container .building-blocks {
  position: absolute;
  width: 612px;
  height: 792px;
  top: 1px;
  left: 0;
  background-color: #ffffff;
}

.container .footer {
  position: absolute;
  width: 530px;
  height: 80px;
  top: 713px;
  left: 41px;
  background-color: transparent;
}

.container .overlap-group {
  position: absolute;
  width: 130px;
  height: 8px;
  top: 38px;
  left: 0;
}

.container .text-wrapper {
  position: absolute;
  width: 92px;
  top: 1px;
  left: 19px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .img {
  position: absolute;
  width: 130px;
  height: 2px;
  top: 0;
  left: 0;
}

.container .div {
  position: absolute;
  width: 130px;
  height: 8px;
  top: 38px;
  left: 400px;
}

.container .text-wrapper-2 {
  position: absolute;
  width: 44px;
  top: 1px;
  left: 43px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-3 {
  position: absolute;
  width: 106px;
  top: 49px;
  left: 212px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .p {
  position: absolute;
  width: 399px;
  top: -1px;
  left: 78px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .logo {
  position: absolute;
  width: 161px;
  height: 87px;
  top: 0;
  left: 0;
}

.container .nuevo-logo-con {
  width: 133px;
  height: 47px;
  top: 18px;
  left: 20px;
  position: absolute;
  object-fit: cover;
}

.container .encabezado {
  position: absolute;
  width: 293px;
  height: 91px;
  top: 1px;
  left: 161px;
}

.container .text-wrapper-4 {
  position: absolute;
  width: 183px;
  top: 10px;
  left: 62px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-5 {
  position: absolute;
  width: 254px;
  top: 24px;
  left: 26px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-6 {
  position: absolute;
  width: 224px;
  top: 35px;
  left: 41px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-7 {
  position: absolute;
  width: 252px;
  top: 47px;
  left: 26px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .pasador-de-ubicacion {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 25px;
  left: 12px;
  object-fit: cover;
}

.container .llamar {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 48px;
  left: 15px;
  object-fit: cover;
}

.container .text-wrapper-8 {
  position: absolute;
  width: 121px;
  top: 58px;
  left: 93px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .mensaje {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 60px;
  left: 78px;
  object-fit: cover;
}

.container .text-wrapper-9 {
  width: 118px;
  top: 70px;
  left: 94px;
  font-size: 10px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .factura-c-c {
  position: absolute;
  width: 161px;
  height: 87px;
  top: 1px;
  left: 451px;
}

.container .text-wrapper-10 {
  position: absolute;
  width: 92px;
  top: 18px;
  left: 44px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .checkbox-credito {
  top: 63px;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 127px;
  background-color: #d9d9d9;
}

.container .checkbox-contado {
  top: 48px;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 127px;
  background-color: #d9d9d9;
}

.container .text-wrapper-11 {
  position: absolute;
  width: 54px;
  top: 45px;
  left: 73px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.container .text-wrapper-12 {
  position: absolute;
  width: 47px;
  top: 60px;
  left: 79px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.container .depa-cod-fecha {
  position: absolute;
  width: 582px;
  height: 21px;
  top: 92px;
  left: 1px;
}

.container .departamento {
  position: absolute;
  width: 103px;
  top: 3px;
  left: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-13 {
  position: absolute;
  width: 87px;
  top: 3px;
  left: 281px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-14 {
  position: absolute;
  width: 47px;
  top: 3px;
  left: 452px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .info-cliente {
  position: absolute;
  width: 611px;
  height: 61px;
  top: 109px;
  left: 1px;
}

.container .overlap-2 {
  position: relative;
  width: 532px;
  height: 59px;
  top: 1px;
  left: 39px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.container .text-wrapper-15 {
  position: absolute;
  width: 60px;
  top: 3px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-16 {
  position: absolute;
  width: 75px;
  top: 20px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-17 {
  position: absolute;
  width: 72px;
  top: 38px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-18 {
  width: 34px;
  top: 3px;
  left: 358px;
  font-size: 12px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-19 {
  position: absolute;
  width: 71px;
  top: 38px;
  left: 357px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .factura {
  position: absolute;
  width: 611px;
  height: 547px;
  top: 168px;
  left: 0;
}

.container .overlap-3 {
  position: relative;
  width: 541px;
  height: 539px;
  top: 4px;
  left: 31px;
}

.container .rectangle {
  position: absolute;
  width: 530px;
  height: 539px;
  top: 0;
  left: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.container .rec-cuentas {
  position: absolute;
  width: 464px;
  height: 19px;
  top: 489px;
  left: 10px;
  background-color: #000000;
}

.container .nuevo-logo-con-2 {
  width: 349px;
  height: 123px;
  top: 189px;
  left: 104px;
  position: absolute;
  object-fit: cover;
}

.container .vector {
  position: absolute;
  width: 531px;
  height: 22px;
  top: 0;
  left: 10px;
}

.container .rectangle-2 {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 453px;
  left: 427px;
  background-color: #000000;
}

.container .text-wrapper-20 {
  position: absolute;
  width: 391px;
  top: 517px;
  left: 79px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-21 {
  position: absolute;
  width: 48px;
  top: 475px;
  left: 419px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-22 {
  position: absolute;
  width: 23px;
  top: 492px;
  left: 436px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.container .SUB-TOTAL {
  position: absolute;
  width: 37px;
  top: 453px;
  left: 436px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.container .l-cuentas {
  position: absolute;
  width: 530px;
  height: 1px;
  top: 507px;
  left: 10px;
  object-fit: cover;
}

.container .CUENTAS-BAC-u {
  position: absolute;
  width: 352px;
  top: 492px;
  left: 37px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .l-cuentas-2 {
  position: absolute;
  width: 530px;
  height: 1px;
  top: 489px;
  left: 10px;
  object-fit: cover;
}

.container .cheque-a-nombre-de {
  position: absolute;
  width: 388px;
  top: 473px;
  left: 19px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
}

.container .text-wrapper-23 {
  font-weight: 700;
}

.container .l-cheque-a-nom {
  position: absolute;
  width: 530px;
  height: 1px;
  top: 471px;
  left: 10px;
  object-fit: cover;
}

.container .text-wrapper-24 {
  position: absolute;
  width: 94px;
  top: 456px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .l-montoletras {
  position: absolute;
  width: 530px;
  height: 1px;
  top: 453px;
  left: 10px;
  object-fit: cover;
}

.container .l-iva {
  position: absolute;
  width: 1px;
  height: 488px;
  top: 20px;
  left: 472px;
  object-fit: cover;
}

.container .l-punit {
  position: absolute;
  width: 1px;
  height: 433px;
  top: 21px;
  left: 436px;
  object-fit: cover;
}

.container .l-descrp {
  position: absolute;
  width: 1px;
  height: 433px;
  top: 20px;
  left: 389px;
  object-fit: cover;
}

.container .l-um {
  position: absolute;
  width: 1px;
  height: 433px;
  top: 21px;
  left: 140px;
  object-fit: cover;
}

.container .l-cod {
  position: absolute;
  width: 1px;
  height: 433px;
  top: 21px;
  left: 99px;
  object-fit: cover;
}

.container .l-cant {
  position: absolute;
  width: 1px;
  height: 434px;
  top: 20px;
  left: 48px;
  object-fit: cover;
}

.container .th-CANT {
  width: 40px;
  left: 13px;
  position: absolute;
  top: 3px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .th-c-DIGO {
  width: 45px;
  left: 54px;
  position: absolute;
  top: 3px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .th-u-m {
  width: 25px;
  left: 110px;
  position: absolute;
  top: 3px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .th-DESCRIPCI-n {
  width: 73px;
  left: 249px;
  position: absolute;
  top: 3px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .th-p-UNIT {
  width: 40px;
  left: 396px;
  position: absolute;
  top: 3px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .th-IVA {
  width: 19px;
  left: 447px;
  position: absolute;
  top: 3px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .th-SUB-TOTAL {
  position: absolute;
  width: 60px;
  top: 4px;
  left: 478px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-25 {
  position: absolute;
  width: 233px;
  top: 262px;
  left: -112px;
  transform: rotate(-90.00deg);
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
