html, body {
  width: 816px;
  height: 1056px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(1.25); /* Adjust scaling factor */
  transform-origin: 0 0;
}

.container .facturap {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 816px;
  height: 1056px;
  position: relative;
}

.container .overlap {
  position: absolute;
  width: 817px;
  height: 947px;
  top: 0;
  left: 0;
}

.container .building-blocks {
  position: absolute;
  width: 612px;
  height: 792px;
  top: 1px;
  left: 0;
  background-color: #ffffff;
}

.container .logo {
  position: absolute;
  width: 214px;
  height: 116px;
  top: 0;
  left: 0;
}

.container .nuevo-logo-con {
  width: 133px;
  height: 47px;
  top: 35px;
  left: 40px;
  position: absolute;
  object-fit: cover;
}

.container .encabezado {
  position: absolute;
  width: 388px;
  height: 122px;
  top: 1px;
  left: 214px;
}

.container .text-wrapper {
  position: absolute;
  width: 235px;
  top: 17px;
  left: 88px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .p {
  position: absolute;
  width: 325px;
  top: 35px;
  left: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-2 {
  position: absolute;
  width: 285px;
  top: 49px;
  left: 62px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-3 {
  position: absolute;
  width: 322px;
  top: 64px;
  left: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .pasador-de-ubicacion {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 36px;
  left: 24px;
  object-fit: cover;
}

.container .llamar {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 65px;
  left: 28px;
  object-fit: cover;
}

.container .text-wrapper-4 {
  position: absolute;
  width: 156px;
  top: 78px;
  left: 127px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .mensaje {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 80px;
  left: 109px;
  object-fit: cover;
}

.container .text-wrapper-5 {
  width: 151px;
  top: 93px;
  left: 129px;
  text-align: center;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .factura-c-c {
  position: absolute;
  width: 214px;
  height: 116px;
  top: 1px;
  left: 602px;
}

.container .text-wrapper-6 {
  position: absolute;
  width: 97px;
  height: 27px;
  top: 27px;
  left: 77px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.container .checkbox-credito {
  top: 74px;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 162px;
  background-color: #d9d9d9;
  font-family: "Inter", Helvetica;
}

.container .checkbox-contado {
  top: 57px;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 162px;
  background-color: #d9d9d9;
  font-family: "Inter", Helvetica;
}

.container .text-wrapper-7 {
  position: absolute;
  width: 66px;
  top: 54px;
  left: 92px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.container .text-wrapper-8 {
  position: absolute;
  width: 60px;
  top: 71px;
  left: 98px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.container .depa-cod-fecha {
  position: absolute;
  width: 816px;
  height: 27px;
  top: 123px;
  left: 1px;
}

.container .departamento {
  position: absolute;
  width: 103px;
  top: 3px;
  left: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-9 {
  position: absolute;
  width: 87px;
  top: 3px;
  left: 367px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-10 {
  position: absolute;
  width: 57px;
  top: 3px;
  left: 623px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .info-cliente {
  position: absolute;
  width: 816px;
  height: 61px;
  top: 145px;
  left: 1px;
}

.container .overlap-group {
  position: relative;
  width: 738px;
  height: 59px;
  top: 1px;
  left: 39px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.container .text-wrapper-11 {
  position: absolute;
  width: 60px;
  top: 3px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-12 {
  position: absolute;
  width: 75px;
  top: 20px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-13 {
  position: absolute;
  width: 72px;
  top: 38px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-14 {
  width: 34px;
  top: 3px;
  left: 456px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-15 {
  position: absolute;
  width: 71px;
  top: 38px;
  left: 454px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .factura {
  position: absolute;
  width: 814px;
  height: 744px;
  top: 203px;
  left: 0;
}

.container .overlap-2 {
  position: relative;
  width: 749px;
  height: 740px;
  top: 4px;
  left: 29px;
}

.container .rectangle {
  position: absolute;
  width: 736px;
  height: 740px;
  top: 0;
  left: 12px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #000000;
}

.container .rec-cuentas {
  position: absolute;
  width: 644px;
  height: 26px;
  top: 688px;
  left: 12px;
  background-color: #000000;
}

.container .img {
  width: 431px;
  height: 152px;
  top: 260px;
  left: 163px;
  position: absolute;
  object-fit: cover;
}

.container .vector {
  position: absolute;
  width: 737px;
  height: 22px;
  top: 0;
  left: 12px;
}

.container .rectangle-2 {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 638px;
  left: 591px;
  background-color: #000000;
}

.container .text-wrapper-16 {
  position: absolute;
  width: 543px;
  top: 720px;
  left: 108px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.container .text-wrapper-17 {
  position: absolute;
  width: 67px;
  top: 670px;
  left: 576px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-18 {
  position: absolute;
  width: 37px;
  top: 694px;
  left: 599px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .SUB-TOTAL {
  position: absolute;
  width: 51px;
  top: 638px;
  left: 599px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.container .l-cuentas {
  position: absolute;
  width: 736px;
  height: 1px;
  top: 714px;
  left: 12px;
  object-fit: cover;
}

.container .CUENTAS-BAC-u {
  position: absolute;
  width: 489px;
  top: 694px;
  left: 49px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .l-cuentas-2 {
  position: absolute;
  width: 736px;
  height: 1px;
  top: 688px;
  left: 12px;
  object-fit: cover;
}

.container .cheque-a-nombre-de {
  position: absolute;
  width: 539px;
  top: 670px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
}

.container .text-wrapper-19 {
  font-weight: 700;
}

.container .l-cheque-a-nom {
  position: absolute;
  width: 736px;
  height: 1px;
  top: 664px;
  left: 12px;
  object-fit: cover;
}

.container .text-wrapper-20 {
  position: absolute;
  width: 130px;
  top: 646px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 9px;
  letter-spacing: 0;
  line-height: normal;
}

.container .l-montoletras {
  position: absolute;
  width: 736px;
  height: 1px;
  top: 638px;
  left: 12px;
  object-fit: cover;
}

.container .invoice-table {
  position: absolute;
  top: 2px;
  width: 749px;
  font-family: "Inter", Helvetica;
  left: 5px;
}

.container .invoice-table th,
.container .invoice-table td {
  padding: 3px; /* Adds spacing inside cells */
  text-align: center; /* Centers text horizontally */
  vertical-align: middle; /* Centers text vertically */
}

.container .invoice-table .invoice-table-head {
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .invoice-table .invoice-table-body {
  color: #000000;
  font-size: 10px;
}

.container .text-wrapper-21 {
  position: absolute;
  width: 289px;
  top: 334px;
  left: -140px;
  transform: rotate(-90.00deg);
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .footer {
  position: absolute;
  width: 816px;
  height: 107px;
  top: 949px;
  left: 1px;
  background-color: transparent;
}

.container .overlap-group-2 {
  position: absolute;
  width: 162px;
  height: 10px;
  top: 49px;
  left: 40px;
}

.container .text-wrapper-22 {
  position: absolute;
  width: 114px;
  top: 1px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .l-elaborado {
  position: absolute;
  width: 162px;
  height: 2px;
  top: 0;
  left: 0;
}

.container .text-wrapper-23 {
  position: absolute;
  width: 55px;
  top: 50px;
  left: 668px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .text-wrapper-24 {
  position: absolute;
  width: 132px;
  top: 73px;
  left: 342px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.container .l-sello {
  position: absolute;
  width: 162px;
  height: 2px;
  top: 48px;
  left: 614px;
}

.container .text-wrapper-25 {
  position: absolute;
  width: 497px;
  top: -1px;
  left: 159px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
