<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="frame">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="overlap">
            <div class="div">
              <div class="rectangle"></div>
              <div class="departamento">DEPARTAMENTO:</div>
              <div class="text-wrapper">CLIENTE:</div>
              <div class="text-wrapper-2">COD.CLIENTE:</div>
              <div class="text-wrapper-3">FECHA:</div>
              <div class="text-wrapper-4">DIRECCIÓN:</div>
              <div class="text-wrapper-5">CONTACTO:</div>
              <div class="text-wrapper-6">RUC:</div>
              <div class="text-wrapper-7">TELÉFONO:</div>
              <img class="line" src="img/line-4.svg" />
              <img class="img" src="img/line-5.svg" />
              <img class="line-2" src="img/line-6.svg" />
              <img class="line-3" src="img/line-7.svg" />
              <img class="line-4" src="img/line-8.svg" />
            </div>
            <img class="line-5" src="img/line-1.svg" />
            <img class="line-6" src="img/line-3.svg" />
            <img class="line-7" src="img/line-2.svg" />
          </div>
          <div class="overlap-2">
            <div class="rectangle-2"></div>
            <img class="nuevo-logo-con" src="img/nuevo-logo-con-erlenmeyer-2.png" />
            <div class="rectangle-3"></div>
            <div class="rectangle-4"></div>
            <img class="vector" src="img/vector-1.svg" />
            <div class="text-wrapper-8">CANT.</div>
            <div class="text-wrapper-9">MONTO EN LETRAS:</div>
            <div class="SUB-TOTAL">SUB<br />TOTAL</div>
            <p class="cheque-a-nombre-de">
              <span class="span">Cheque a nombre de: </span> <span class="text-wrapper-10">GLOBAL COMERCIAL, S.A.</span>
            </p>
            <div class="text-wrapper-11">IVA</div>
            <div class="CUENTAS-BAC-u">
              CUENTAS
              BAC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;U$&nbsp;&nbsp;360870422&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C$&nbsp;&nbsp;360870372
            </div>
            <div class="text-wrapper-12">CÓDIGO</div>
            <div class="text-wrapper-13">U/M</div>
            <div class="text-wrapper-14">DESCRIPCIÓN</div>
            <div class="text-wrapper-15">P.UNIT</div>
            <div class="text-wrapper-16">IVA</div>
            <div class="text-wrapper-17">SUBTOTAL</div>
            <img class="line-8" src="img/line-10.svg" />
            <img class="line-9" src="img/line-10.svg" />
            <img class="line-10" src="img/line-10.svg" />
            <img class="line-11" src="img/line-10.svg" />
            <p class="p">NO SE ACEPTAN RECLAMOS/DEVOLUCIONES 24 HORAS DESPUÉS DE RECIBIR EL PRODUCTO</p>
            <div class="text-wrapper-18">TOTAL</div>
            <img class="line-12" src="img/line-13.svg" />
            <img class="line-13" src="img/line-14.svg" />
            <img class="line-14" src="img/line-17.svg" />
            <img class="line-15" src="img/line-17.svg" />
            <img class="line-16" src="img/line-17.svg" />
            <img class="line-17" src="img/line-18.svg" />
            <p class="text-wrapper-19">Original: Cliente / Celeste: Cliente / Rosado: Contabilidad</p>
          </div>
          <div class="overlap-3">
            <div class="overlap-4">
              <p class="text-wrapper-20">+505 8464-2337 / +505 7651-5914 / 505 7739-1925</p>
              <img class="mensaje" src="img/mensaje-1@2x.png" />
            </div>
            <div class="text-wrapper-21">ventasgloco@gmail.com</div>
            <div class="text-wrapper-22">RUC: J0310000286167</div>
          </div>
          <p class="text-wrapper-23">Contiguo Ferretería ROMO, Oficentro Altamira</p>
          <div class="text-wrapper-24">GLOBAL COMERCIAL, S.A.</div>
          <div class="text-wrapper-25">FACTURA</div>
          <p class="text-wrapper-26">Calle Principal Altamira, antiguo H. Central 3c. Norte,</p>
          <div class="rectangle-wrapper"><div class="rectangle-5"></div></div>
          <div class="rectangle-6"></div>
          <div class="text-wrapper-27">CONTADO</div>
          <div class="text-wrapper-28">CRÉDITO</div>
          <img class="nuevo-logo-con-2" src="img/nuevo-logo-con-erlenmeyer-1.png" />
          <p class="text-wrapper-29">
            IM RUC: 0012301680043B AIMP/2/0024/05-2024 10B, 50J (2) N° 5,201 - 5,700 ACF/2/5047/10-2024 OT:4204/10-2024
          </p>
          <div class="text-wrapper-30">ELABORADO POR</div>
          <div class="text-wrapper-31">SELLO</div>
          <div class="text-wrapper-32">VENCIMIENTO FACTURA</div>
          <img class="line-18" src="img/line-20.svg" />
          <img class="line-19" src="img/line-20.svg" />
          <img class="pasador-de-ubicacion" src="img/pasador-de-ubicacion-1@2x.png" />
          <img class="llamar" src="img/llamar-1@2x.png" />
        </div>
      </div>
    </div>
  </body>
</html>
